{% extends "os_contracts/base.html" %}

{% block head %}
<title>
    {% block title %}
    Manufacturer {{ single_manufacturer.name }}
    {% endblock %}</title>
{% endblock %}

{% block body %}
<div class="container" style="text-align:center;">
<h1>Manufacturer's Drugs</h1>

{% if single_manufacturer.logo_img %}
<img class="circle responsive-img" src="{{ single_manufacturer.logo_img.url }}" />
{% else %}
<p>No Image Available</p>
{% endif %}

    <div class="row">
    {% for drug in manufacturer_drugs %}
    <div class="col s4">
        {% if drug.route_type == 'IV' %}
        <div class="card small blue-grey darken-1">
            <div class="card-content white-text" style="font-size: 20px;">
                <span class="card-title">{{ drug.name }}</span>
                <p>{{ drug.route_type }}</p>
            </div>
        </div>
        {% else %}
        <div class="card small red darken-1">
            <div class="card-content black-text" style="font-size: 20px;">
                <span class="card-title">{{ drug.name }}</span>
                <p>{{ drug.route_type }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    </div>
<br>
</div>
<a href="{% url 'manufacturers' %}" class="black btn-small" style="position: fixed; bottom:50px; left: 0px; margin: 5px;">Back to Manufacturers Page</a>
<a href="{% url 'drugs' %}" class="black btn-small" style="position: fixed; bottom:5px; left: 0px; margin: 5px;">Back to Drugs Page</a>
{% endblock %}