{% extends "purchasing/base.html" %}

{% block head %}
<title>{% block title %}Drugs{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="container" style="text-align:center;">
<h1>Drugs</h1>
    <div class="row">
    {% for drug in drugs %}
        <div class="col s4">
            <div class="card small blue-grey darken-1">
                <div class="card-content white-text" style="font-size: 20px;">
                    <span class="card-title">{{ drug.name }}</span>
                    <p>{{ drug.manufacturer }}</p>
                    <p>{{ drug.route_type }}</p>
                    <p>Q1: {{ drug.q1 }}</p>
                    <p>Q2: {{ drug.q2 }}</p>
                    <p>Q3: {{ drug.q3 }}</p>
                    <p>Q4: {{ drug.q4 }}</p>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
<br>
</div>
<a href="{% url 'manufacturers' %}" class="black btn-small" style="position: fixed; bottom:5px; left: 0px; margin: 5px;">Back to Manufacturers Page</a>
{% endblock %}