{% extends "purchasing/base.html" %}


{% block head %}
<title>{% block title %}Drugs{% endblock %}</title>
{% endblock %}

{% block body %}
<a href="{% url 'home' %}" class="waves-effect waves-light teal-text white-text btn"><i class="material-icons left">home</i></a>
<div class="container" style="text-align:center;">
<h1>Drugs</h1>
    <div class="row">
    {% for drug in drugs %}
    {% if drug.contract %}
        <div class="col s4">
            <div class="card small teal darken-2 z-depth-5">
                <div class="card-content white-text" style="font-size: 24px;">
                    <span class="card-title" style="text-decoration: underline;font-weight: bold;">{{ drug.name }}</span>
                    <p>{{ drug.manufacturer }}</p>
                    <p>{{ drug.route_type }}</p>
                </div>
            </div>
            <a href="{% url 'single_drug' slug=drug.slug %}" class="blue-grey darken-4 btn-small" style="margin: 5px;">View Drug</a>
        </div>
    {% endif %}
    {% endfor %}
    </div>
<br>
</div>
<a href="{% url 'manufacturers' %}" class="black btn-small" style="position: fixed; bottom:5px; left: 0px; margin: 5px;">Back to Manufacturers Page</a>
{% endblock %}