{% extends "purchasing/base.html" %}

{% block head %}
<title>{% block title %}Manufacturers{% endblock %}</title>
{% endblock %}

{% block body %}
<a href="{% url 'home' %}" class="waves-effect waves-light teal-text white-text btn"><i class="material-icons left">home</i></a>
<div class="container" style="text-align:center;">
    <h1 class="header center teal-text black-text">Manufacturers</h1>
    <div class="row">
    {% for manufacturer in manufacturers %}
        <div class="col s4">
            <div class="card small teal darken-2 z-depth-5">
                <div class="card-content white-text" style="font-size: 20px;">
                    <span class="card-title">{{ manufacturer.name }}</span>
                    {% if manufacturer.logo_img %}
                    <img class="circle responsive-img" src="{{ manufacturer.logo_img.url }}" />
                    {% else %}
                    <p>No Image Available</p>
                    {% endif %}
                </div>
            </div>
            <a href="{% url 'single_manufacturer' slug=manufacturer.slug %}" class="blue-grey darken-4 btn-small" style="margin: 5px;">View Manufacturer</a>
        </div>
    {% endfor %}
    </div>
<br>
</div>
<a href="{% url 'drugs' %}" class="black btn-small" style="position: fixed; bottom:5px; left: 0px; margin: 5px;">Back to Drugs Page</a>
{% endblock %}