{% extends "contract_analyzer/base.html" %}

{% block head %}
<title>{% block title %}IV Contracts{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="container" style="text-align:center;">
<h1>IV Contracts</h1>
    <div class="row">
    {% for IV_contract in IV_contracts %}
        <div class="col s4">
            <div class="card small blue-grey darken-1">
                <div class="card-content white-text" style="font-size: 20px;">
                    <span class="card-title">{{ IV_contract.drug_name }}</span>
                        <div class = "card-content activator">                  
                            <p>{{ IV_contract.manufacturer_name }}</p>
                            <p>{{ IV_contract.ndc_code }}</p>
                            <p>{{ IV_contract.numerator_strength }}</p>
                         </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
<br>
</div>
<a href="{% url 'contract_drug_types' %}" class="black btn-small" style="position: fixed; bottom:50px; left: 0px; margin: 5px;">Go to Contract Type Page</a>
<a href="{% url 'index' %}" class="black btn-small" style="position: fixed; bottom:5px; left: 0px; margin: 5px;">Back to Drugs Page</a>
{% endblock %}